@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,400&family=Press+Start+2P&family=Sen:wght@400;700&display=swap');

/* font-family: 'Poppins', sans-serif;
font-family: 'Press Start 2P', cursive;
font-family: 'Sen', sans-serif; */

:root {
    --grey: #333;
    --primary: #FF9A76;
    --seconodary: #C4DFAA;
    --white: #fff;
  }

/* GLOBAL */

* {
    margin: 0;
    padding: 0;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

body {
    padding: 0px 80px !important;
    font-family: 'Poppins', sans-serif;
}

 *, :after, :before {
    box-sizing: border-box !important; 
}


button {
    align-self: center;
    background: transparent;
    padding: 0.8rem 0.6rem;
    margin: 0 1rem;
    transition: all .5s ease;
    color:#41403E;
    font-size: 1rem;
    letter-spacing: 1px;
    outline: none;
    box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;

    &:hover{
        box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
    } 
    
    &.lined.thin{
        border:solid 7px #41403E;
    }

    &.lined.thick{     
        background-color: var(--seconodary);
        border:solid 4px var(--white);
        color: var(--white);
    }
}

.wrapper {
    width: 80%;
    max-width: 1212px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

h1 {
    color: var(--white);
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem !important;
    text-align: center !important;
}


p {
    font-family: 'Sen', sans-serif; 
    color: var(--grey);
    font-size: .9rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/*HEADER*/

.nav {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 2% 2% 0 2%;

    #logo {
        color: var(--primary);
    }

    .nav-links {
        display: flex;
        flex-direction: row;

        li {
            padding: 0 20px;

            a {
                color: var(--grey);
            }

            a:hover {
                color: #C4DFAA;
            }

            a:active {
                color: var(--primary);
                text-decoration: underline;
            }
        }
    }
}

.hero-section {
    height: 90vh;
    padding: 5% 7%;
    background-image: url("../images/vector.png");
    background-repeat: no-repeat;
    background-size: 100% 90%;
    background-position: center;
    display: flex;
    flex-direction: column;

    .hero-title {
        h3 {
            font-weight: lighter;
            color: var(--white);
            font-size: 1.7rem !important;
        }

        h1 {
            color: var(--white);
            font-size: 2rem;
            text-align: left !important;
        }
    }

    .hero-cards {
        display: flex;
        margin-top: 3%;
        gap: 10%;

        .hero-card {
            background-color: #fff;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            height: 45vh;
            flex: 1 1 30%; 
            position: relative;

            .hero-card-footer {
                position: absolute;
                left: 50%;
                transform: translate(-50%, 0);
                bottom: 0;
                background-color: var(--grey);
                width: 110%;
                font-family: 'Press Start 2P', cursive;
                color: var(--white);
                padding: 8px  10px;
                text-align: center;

                h2 {
                    font-size: 2.2rem !important;
                }
            }
        }
    }

    .hero-cta {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        }

        a {
            color: var(--white);
            text-decoration: underline;
            font-size: 1rem;
            margin-left: 3%;
        }

        button {
            &.lined.thick{     
                background-color: var(--seconodary);
                border:solid 4px var(--seconodary);
                color: var(--white);
            }
        }
    }


/* WORKS */
#work {
    padding-top: 2%;

    h1 {
        color: var(--seconodary);
        margin-bottom: 5%;
    }

    .right {
        text-align: left;
        flex-direction: row-reverse;

        button {
            float: left;
        }
    }
    
    .left {

        p {
            text-align: right;
        }

        button {
            float: right;
        }
    }

    .work-cards {

        .work-card {
         display: flex;      
         padding: 2% 5%;

            .work-card-img {
                width: 40%;
                position: relative;
                margin-left: 10%;

                img {
                    width: 80%;
                    height: 80%;
                }

                h3 {
                    font-family: 'Press Start 2P', cursive;
                    color: var(--primary);
                    font-size: 1.4rem;
                    text-transform: uppercase;
                    position: absolute;
                    left: 30%;
                    transform: translate(-50%, 0);
                    top: -10px;
                    z-index: 10;
                }
            }

            .work-card-details {
                float: right;
                width: 40%;
                transform: translate(0, 15%);

                p {
                   color:#333;
                }

                button {
                    margin: 3% 0;
                    color: var(--primary);
                    
                    &.lined.thin{
                        border:solid .3rem #FF9A76;
                    }
                }
            }
        }
    }
}

#about {
    background-image: url("../images/vector_green.png");
    background-repeat: no-repeat;
    background-size: 80% 90%;
    min-height: 75vh;
    background-position: center;
    position: relative;
    place-items: center;

    h1 {
        color: var(--white);
        padding-top: 5%;
    }

    .about-section {
        /*column-gap: 20%;
        width: 100%;
         // Center vertically and horizontally 
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);*/
        display: flex;
        width: 100%;
        justify-content: center;
        align-self: center;

            .about-left {
                width: 30%;
                margin-right: 2rem;

                img {
                    height: 50vh;
                    width: 18vw;
                }
                
            }

            .about-right {
                width: 40%;

                p {
                    margin-bottom: 10%;
                }

                a {
                    color: var(--primary);
                    font-family: 'Press Start 2P', cursive;
                    text-decoration: underline;
                    font-size: .9rem;
                }
            }
    }
}

#other-works {
    padding-top: 4%;

    h1 {
        color: var(--primary);
        margin-bottom: 5%;
    }

    .right {
        text-align: left;
        flex-direction: row-reverse;

        button {
            float: left;
        }
    }

    .left {

        p {
            text-align: right;
        }

        button {
            float: right;
        }
     }

    .other-work-cards {

        .other-work-card {
            display: flex;      
            padding: 2% 5%;

            .other-work-card-img {
                width: 40%;
                position: relative;
                
                margin-left: 10%;

                img {
                    width: 80%;
                    height: 80%;
                }

                h3 {
                    font-family: 'Press Start 2P', cursive;
                    color: var(--seconodary);
                    font-size: 1.4rem;
                    text-transform: uppercase;
                    position: absolute;
                    left: 30%;
                    transform: translate(-50%, 0);
                    top: -10px;
                    z-index: 10;
                }
            }

            .other-work-card-details {
                float: right;
                width: 40%;
                transform: translate(0, 15%);

                p {
                   color:#333;
                }

                button {
                    margin: 3% 0;
                    color: var(--seconodary);

                    &.lined.thin{
                        border:solid .3rem var(--seconodary);
                    }
                }
            }

            
        }
    }
}

#contact {
    min-height: 50vh;
    padding: 5% 7%;
    background-image: url("../images/vector.png");
    background-repeat: no-repeat;
    background-size: 80% 90%;
    background-position: center;
    color: var(--white);

    .contact-section {
        max-width: 500px;
        margin: 0 auto;
        padding: 1rem;

        form {
            width: 100%;

            textarea {
                resize: none;
                height: 10rem;
            }

            .input-field {
                display: flex;
                align-items: center;
                padding: .5rem;

                label {
                    width: 200px;
                    margin-right: 1rem;
                }

                input, textarea {
                    width: 100%;
                    //outline: none;
                    padding: 8px 10px;
                    transition: all 0.5s ease;
                    border: none;
                    color: var(--grey);
                    font-family: 'Poppins', sans-serif;
                    border-radius: 0;
                    &:focus {
                        border: 1px solid var(--seconodary);
                    }
                }
            }

            button {
                width: 40%;
                display: block;
                margin: 0 auto;
                text-align: center;
                padding: 0.6em 0.4rem;
                margin-top: 1rem;

                &.lined.thick{     
                    background-color: var(--white);
                    border:solid 4px var(--white);
                    color: var(--primary);
                }
            }
        }
    }
}

#footer {
    padding: 1.5rem 0 1rem;

    hr {
        border-top-color: var(--grey);
        opacity:0.5;
    }

    .footer-section {
      padding: 1.5rem 0 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .copyright {
        color: var(--primary);
        font-size: .9rem;
      }

        .social-icons {
            display: flex;

            li {
                flex-direction: row;
            }
            
            a {
                width:40px;
                height:40px;
                line-height:40px;
                margin-left:6px;
                margin-right:0;
                border-radius:100%;
                background-color:var(--grey);
                color:#818a91;
                font-size:16px;
                display:inline-block;
                line-height:44px;
                width:44px;
                height:44px;
                text-align:center;
                margin-right:8px;
                border-radius:100%;
                -webkit-transition:all .2s linear;
                -o-transition:all .2s linear;
                transition:all .2s linear
            }
        }   
    }
    
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {


    #about {

        .about-section {
            display: flex;

            .column {
                flex-direction: row;
            }
        }
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}